*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/release
/tmp
node_modules/
/app/app
/app/google
/app/gradle.properties
package-lock.json

*__gen.go
*__ignore.go
*.swp
*.swo
~i_*
ig_*
zzzig_*
