*.iml
.gradle
local.properties
.DS_Store
/build
build/
/captures
.externalNativeBuild
/release
/tmp
node_modules/
/app/app
/app/google
/app/gradle.properties
package-lock.json
.idea/
# Kotlin 2.0
.kotlin/
